/* Source File: HTML5 Game - Little Warrior */ 
/* Author: Teleisha Hall */
/* ID: 300820822 */
/* Last Modified By: Teleisha Hall */
/* Date Last Modified: July 12, 2015 */
/* Description: An HTML5 game using impress.js */
/* Revision History: v8 - https://github.com/hallnt/COMP397--Assignment-1---Little-Warrior-Game/commits/master */

/* STYLE PAGE BODY */
body {
    background-image: url('../assets/images/background.jpg');       /* PAGE BACKGROUND IMAGE*/
    font-family: 'Comic Sans MS';
}

/* INACTIVE SLIDES */
.impress-enabled .step {
    margin: 0;
    opacity: 0.0;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

/* STYLE ACTIVE SLIDES */ 
.impress-enabled .step.active {
    opacity: 1;
}


/* STYLEING FOR ALL SLIDES*/
.slide {
    display: block;
    width: 700px;
    height: 600px;
    padding: 40px 60px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    color: rgb(52, 52, 52);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

/* FORMAT FOR PARAGRAPHS */
.slide p {
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 30px;
    font-style: oblique;
}

/* SLIDE LINKS STYLING */
.slide a, .slide a:visited {
    color: #071549;
    text-decoration: none;
    background-color: #abc;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cde;
}

.slide a:hover, .slide a:active {
    background-color: #cde;
}

/* STYLE SLIDE TEXT SREA */
.slide .slide-text {
    height: 450px;
}

/* MENU STYLE */
div.menu {
    border-top: 2px solid black;
    padding-top: 25px;
    text-align: center;
}

/* STYLE PAGE HEADER */
#header {
    color: #f56816;               /* text colour of header */
    font-size: 50px;                /* font size of header */
    font-family: 'Comic Sans MS';   /* font type of header */
    margin-left: 10px;              /* place header 10px from left margin */
}

/* STYLE PAGE FOOTER */
#footer {
    padding-top: 10px;
    padding-left: 5px;
    color: #0e13f3; 
    font-size: 14px;  
}

/* STYLING FOR EACH SLIDE */
#intro {
    background-image: url('../assets/images/lake.jpg');  /* adding an image as a background to intro slide*/
    background-size: 820px 720px;               /* setting the size of the image background*/
    color: #00ffff                             /* color of text on intro frame */
}
#boat {
    background-image: url('../assets/images/boat.jpg');
    background-size: 820px 720px;
    color: #4eba0d;
}
#forest {
    background-image: url('../assets/images/pondHut.jpg');
    background-size: 820px 720px;
    color: #00ffff;
}
#pirShip {
    background-image: url('../assets/images/stairs.jpg');
    background-size: 820px 720px;
    color: #0e13f3;
}
#cave {
    background-image: url('../assets/images/cave.jpg');
    background-size: 820px 720px;
    color: #f3d20e;
}
#hut {
    background-image: url('../assets/images/dogs.png');
    background-size: 820px 720px;
    color: #0e13f3;
}
#pond {
    background-image: url('../assets/images/pond.jpg');
    background-size: 820px 720px;
    color: #f3d20e;
}
#overboard {
    background-image: url('../assets/images/shark.jpeg');
    background-size: 820px 720px;
    color: #f3d20e;
}
#fightCaptain {
    background-image: url('../assets/images/fight.png');
    background-size: 820px 720px;
    color: #0e13f3;
}
#screaming {
    background-image: url('../assets/images/boys.jpg');
    background-size: 820px 720px;
    color: #00ffff;
}
#light {
    background-image: url('../assets/images/well.jpg');
    background-size: 820px 720px;
    color: #ecf60b;
}
#diningRoom {
    background-image: url('../assets/images/friedChicken.jpg');
    background-size: 820px 720px;
    color: #b813d1;
}
#backDoor {
    background-image: url('../assets/images/motorbike.jpg');
    background-size: 820px 720px;
    color: #f5ce16;
}
#villagers {
    background-image: url('../assets/images/villagers.jpg');
    background-size: 820px 720px;
    color: #00ffff;
}
#house {
    background-image: url('../assets/images/gunpoint.jpg');
    background-size: 820px 720px;
    color: #f3d20e;
}



